<div class="main-section" [ngClass]="{'open-more' : isOpened}">
	<div class="row border-chat">
		<div class="col-md-12 col-sm-12 col-xs-12 first-section">
			<div class="row">
				<div (click)="isOpened=true;" class="col-md-8 col-sm-6 col-xs-6 left-first-section">
					<p>Chat with Us</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
					<a role="button" tabindex="0" (keydown.enter)="isOpened=false;" (click)="isOpened=false;" title="Minimize">
						<i class="fa fa-minus" aria-hidden="true"></i>
					</a>
					<a role="button" tabindex="0" (keydown.enter)="isOpened=true;" (click)="isOpened=true;" title="Maximize">
						<i class="fa fa-clone" aria-hidden="true"></i>
					</a>
					<a role="button" tabindex="0" (keydown.enter)="isOpened=false;" (click)="isOpened=false;" title="Close">
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row border-chat">
		<div class="col-md-12 col-sm-12 col-xs-12 second-section">
			<div class="chat-section" #scrollMe [scrollTop]="scrollMe.scrollHeight">
				<ul>
					<li *ngFor="let message of messages; let i = index;">
						<div [ngClass]="{'right-chat' : message.userId != 2, 'left-chat' : message.userId == 2}">
							<img src="assets/image/1499345471_boy.png">
							<p>
								{{message.message}}
								<span>{{message.time}}</span>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row border-chat">
		<div class="col-md-12 col-sm-12 col-xs-12 third-section pr-0">
			<div class="text-bar">
				<input type="text" placeholder="Write messege" #msgInput (keydown.enter)="sendMessage(msgInput.value);false;msgInput.value='';">
				<a role="button" tabindex="0" (keydown.enter)="sendMessage(msgInput.value);false;msgInput.value='';">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</div>