<router-outlet></router-outlet>
<!-- <div fxLayout="row" fxLayout.xs="column">
  <div fxLayout="column" fxLayout.xs="row" style="background-color: blue;padding: 20px">One</div>
  <div fxLayout="column" fxLayout.xs="row wrap" style="background-color: pink;padding: 20px">Two</div>
  <div fxLayout="column" fxLayout.xs="row" style="background-color: green;padding: 20px">Three</div>
</div>
<div fxLayout="row" class="error">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="column" class="success">
  <div>1. One</div>
  <div>2. Two</div>
  <div>3. Three</div>
  <div>4. Four</div>
</div>
<div fxLayout="row" class="warning">
  <div>1. One</div>
  <div>2. Two</div>
  <div>3. Three</div>
  <div>4. Four</div>
</div> -->