<app-header></app-header>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>

<!-- CSS Animations -->
<!-- <div class="div1" id="one"></div>
<div class="div1" id="two"></div>
<div class="div2" id="three"></div>
<div class="div2" id="four"></div> -->
<!-- <app-chatbox></app-chatbox> -->
<!-- <div fxLayout="row" fxLayout.xs="column">
  <div fxLayout="column" fxLayout.xs="row" style="background-color: blue;padding: 20px">One</div>
  <div fxLayout="column" fxLayout.xs="row wrap" style="background-color: pink;padding: 20px">Two</div>
  <div fxLayout="column" fxLayout.xs="row" style="background-color: green;padding: 20px">Three</div>
</div>
<div fxLayout="row" class="error">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>
<div fxLayout="column" class="success">
  <div>1. One</div>
  <div>2. Two</div>
  <div>3. Three</div>
  <div>4. Four</div>
</div>
<div fxLayout="row" class="warning">
  <div>1. One</div>
  <div>2. Two</div>
  <div>3. Three</div>
  <div>4. Four</div>
</div> -->
<!-- <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart> -->
<!-- <emoji-mart set="emojione"></emoji-mart>
<emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
<emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart>
<emoji-mart [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"></emoji-mart> -->